@model Travel_agency.Models.TravelGuide

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TravelGuide</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelGuideName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelGuideName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TravelGuideDomain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TravelGuideDomain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TravelGuideId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
